:root{
    
}

body{
 background-color: gray;
}

/* ====================
   Typing-area Styles
======================== */

#typing-area{
    /* Structure */
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;

    /* div centering */
    position: relative;

    /* Text styles */
    font-family: "Lucida Console";
}

#outer-typing-area{
    /* Structure */
    width: 70%;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

/* ====================
   Typing-word Styles
======================== */
/* uses flexbox to avoid issue of spacing between inline-divs */
/* Source: https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
.typing-word{
    margin: 0 3px 0 3px;
    display: flex;
    column-gap: 3px;
}

/* ====================
   (letter) cursor Styles
======================== */

/* cursor in  */
.typing-letter > .cursor{
    background-color: black;
    height: var(--cursorHeight);
    position: relative;
    width: 90%;
    margin: auto;
    
    animation-name: cursor-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* ====================
   Letter Styles
======================== */

.typing-letter{
    --fontSize: 40px;
    --cursorHeight: 3px;

    font-size: var(--fontSize);
    border-radius: 7px;
    height: calc(var(--fontSize) + var(--cursorHeight));
}

/* current letter */
.current-typing-letter{}

/* correct letter typed */
.incorrect-typed-letter{
    background-color: rgba(242, 58, 58, 0.7);
}

/* incorrect letter typed */
.correct-typed-letter{
    background-color: rgba(26, 189, 29, 0.7);
}

.translate-animate{
    animation-name: translate-area;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

/* ====================
   Animations
======================== */
@keyframes cursor-blink {
    0% {background-color: black;}
    50% {background-color: rgba(0, 0, 0, 0);}
    100% {background-color: black;}
}

@keyframes translate-area-up{
    from {transform: translateY(0px);}
    to {transform: translateY(-53px);}
}